In [31]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import confusion_matrix, classification_report

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [32]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
df_analysis = pd.read_csv("Resources/data_cleaned.csv", index_col=0)

# Review the DataFrame
df_analysis

,pin,Property Class,Neighborhood Code,Land Square Feet,Town Code,Type of Residence,Apartments,Rooms,Bedrooms,Basement,...,num_foreclosure_in_half_mile_past_5_years,num_foreclosure_per_1000_pin_past_5_years,nearest_cta_route_name,nearest_cta_stop_dist_ft,lake_michigan_dist_ft,nearest_metra_stop_dist_ft,nearest_water_dist_ft,nearest_neighbor_1_dist_ft,nearest_neighbor_2_dist_ft,nearest_neighbor_3_dist_ft
12,25153030260000,202,210,4158,70,1.0,0,4,2,4,...,203,64.55,Red Line,8641.316080,26084.996093,2717.148357,6391.361862,32.903876,32.903965,57.680425
26,20273010160000,211,111,5313,70,2.0,2,7,4,1,...,167,77.17,Red Line,2378.981155,15798.238046,7256.411321,3508.897334,29.830339,32.745589,56.233720
27,20341050210000,211,111,4500,70,2.0,2,7,4,1,...,206,71.58,Red Line,2483.343963,15881.861019,5154.668579,5247.755218,29.998205,30.015005,59.785008
63,20223010160000,203,30,3300,70,1.0,0,5,3,1,...,84,44.42,Red Line,1289.011353,13598.517588,8798.198308,6507.411449,32.998020,33.004924,64.502211
85,25011050180000,202,130,3643,70,1.0,0,5,3,1,...,79,25.86,Red Line,11968.230035,11828.693908,5331.604154,10291.059868,30.670624,60.659963,90.640905
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212271,17301160040000,211,141,2400,77,1.0,2,8,4,1,...,29,13.46,Pink Line,2309.108308,19530.014594,3567.946967,2388.975064,24.001717,24.004066,47.991597
212301,17063060040000,211,52,2600,77,2.0,2,10,4,1,...,9,2.49,Blue Line,3185.879688,15656.812830,4851.155570,4911.124322,24.970062,26.459766,50.243183
212389,14311240200000,205,170,3600,77,2.0,0,9,4,1,...,11,2.88,Blue Line,1605.104188,15247.702912,5011.158050,3307.171219,30.017950,33.000013,57.338882
212394,16162141890000,295,80,1017,77,2.0,0,4,2,2,...,149,55.10,Blue Line,1952.905851,35789.669486,11523.308495,4453.705514,18.327534,24.763143,36.645742
212400,16121020080000,211,101,3175,77,2.0,2,7,4,1,...,69,32.75,Green Line,3110.694686,22713.838616,1663.550266,3842.508220,25.004712,37.491853,50.010324

In [33]:
# Remove columns not necessary for analysis
df_analysis = df_analysis.drop(columns=['Town and Neighborhood', 'pin', 'Property Address', 'Sale Year', 'township_name', 
                                        'property_city', 'property_state'])
# Drop any additional columns here
# df_analysis = df_analysis.drop(columns=[])

df_analysis

,Property Class,Neighborhood Code,Land Square Feet,Town Code,Type of Residence,Apartments,Rooms,Bedrooms,Basement,Basement Finish,...,num_foreclosure_in_half_mile_past_5_years,num_foreclosure_per_1000_pin_past_5_years,nearest_cta_route_name,nearest_cta_stop_dist_ft,lake_michigan_dist_ft,nearest_metra_stop_dist_ft,nearest_water_dist_ft,nearest_neighbor_1_dist_ft,nearest_neighbor_2_dist_ft,nearest_neighbor_3_dist_ft
12,202,210,4158,70,1.0,0,4,2,4,3.0,...,203,64.55,Red Line,8641.316080,26084.996093,2717.148357,6391.361862,32.903876,32.903965,57.680425
26,211,111,5313,70,2.0,2,7,4,1,3.0,...,167,77.17,Red Line,2378.981155,15798.238046,7256.411321,3508.897334,29.830339,32.745589,56.233720
27,211,111,4500,70,2.0,2,7,4,1,3.0,...,206,71.58,Red Line,2483.343963,15881.861019,5154.668579,5247.755218,29.998205,30.015005,59.785008
63,203,30,3300,70,1.0,0,5,3,1,1.0,...,84,44.42,Red Line,1289.011353,13598.517588,8798.198308,6507.411449,32.998020,33.004924,64.502211
85,202,130,3643,70,1.0,0,5,3,1,3.0,...,79,25.86,Red Line,11968.230035,11828.693908,5331.604154,10291.059868,30.670624,60.659963,90.640905
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212271,211,141,2400,77,1.0,2,8,4,1,2.0,...,29,13.46,Pink Line,2309.108308,19530.014594,3567.946967,2388.975064,24.001717,24.004066,47.991597
212301,211,52,2600,77,2.0,2,10,4,1,3.0,...,9,2.49,Blue Line,3185.879688,15656.812830,4851.155570,4911.124322,24.970062,26.459766,50.243183
212389,205,170,3600,77,2.0,0,9,4,1,1.0,...,11,2.88,Blue Line,1605.104188,15247.702912,5011.158050,3307.171219,30.017950,33.000013,57.338882
212394,295,80,1017,77,2.0,0,4,2,2,3.0,...,149,55.10,Blue Line,1952.905851,35789.669486,11523.308495,4453.705514,18.327534,24.763143,36.645742
212400,211,101,3175,77,2.0,2,7,4,1,1.0,...,69,32.75,Green Line,3110.694686,22713.838616,1663.550266,3842.508220,25.004712,37.491853,50.010324

In [34]:
# Check and remove null values
nan_count = df_analysis.isnull().sum().sum()
print('Number of NaN values:', nan_count)
df_analysis = df_analysis.dropna()
df_analysis

Number of NaN values: 86

,Property Class,Neighborhood Code,Land Square Feet,Town Code,Type of Residence,Apartments,Rooms,Bedrooms,Basement,Basement Finish,...,num_foreclosure_in_half_mile_past_5_years,num_foreclosure_per_1000_pin_past_5_years,nearest_cta_route_name,nearest_cta_stop_dist_ft,lake_michigan_dist_ft,nearest_metra_stop_dist_ft,nearest_water_dist_ft,nearest_neighbor_1_dist_ft,nearest_neighbor_2_dist_ft,nearest_neighbor_3_dist_ft
12,202,210,4158,70,1.0,0,4,2,4,3.0,...,203,64.55,Red Line,8641.316080,26084.996093,2717.148357,6391.361862,32.903876,32.903965,57.680425
26,211,111,5313,70,2.0,2,7,4,1,3.0,...,167,77.17,Red Line,2378.981155,15798.238046,7256.411321,3508.897334,29.830339,32.745589,56.233720
27,211,111,4500,70,2.0,2,7,4,1,3.0,...,206,71.58,Red Line,2483.343963,15881.861019,5154.668579,5247.755218,29.998205,30.015005,59.785008
63,203,30,3300,70,1.0,0,5,3,1,1.0,...,84,44.42,Red Line,1289.011353,13598.517588,8798.198308,6507.411449,32.998020,33.004924,64.502211
85,202,130,3643,70,1.0,0,5,3,1,3.0,...,79,25.86,Red Line,11968.230035,11828.693908,5331.604154,10291.059868,30.670624,60.659963,90.640905
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212271,211,141,2400,77,1.0,2,8,4,1,2.0,...,29,13.46,Pink Line,2309.108308,19530.014594,3567.946967,2388.975064,24.001717,24.004066,47.991597
212301,211,52,2600,77,2.0,2,10,4,1,3.0,...,9,2.49,Blue Line,3185.879688,15656.812830,4851.155570,4911.124322,24.970062,26.459766,50.243183
212389,205,170,3600,77,2.0,0,9,4,1,1.0,...,11,2.88,Blue Line,1605.104188,15247.702912,5011.158050,3307.171219,30.017950,33.000013,57.338882
212394,295,80,1017,77,2.0,0,4,2,2,3.0,...,149,55.10,Blue Line,1952.905851,35789.669486,11523.308495,4453.705514,18.327534,24.763143,36.645742
212400,211,101,3175,77,2.0,2,7,4,1,1.0,...,69,32.75,Green Line,3110.694686,22713.838616,1663.550266,3842.508220,25.004712,37.491853,50.010324

In [35]:
# Get rid of outlier sale prices
df_analysis = df_analysis.drop(df_analysis[df_analysis['Sale Price'] <= 100000].index)
#df_analysis = df_analysis.drop(df_analysis[df_analysis['Sale Price'] == 0].index)
df_analysis

,Property Class,Neighborhood Code,Land Square Feet,Town Code,Type of Residence,Apartments,Rooms,Bedrooms,Basement,Basement Finish,...,num_foreclosure_in_half_mile_past_5_years,num_foreclosure_per_1000_pin_past_5_years,nearest_cta_route_name,nearest_cta_stop_dist_ft,lake_michigan_dist_ft,nearest_metra_stop_dist_ft,nearest_water_dist_ft,nearest_neighbor_1_dist_ft,nearest_neighbor_2_dist_ft,nearest_neighbor_3_dist_ft
26,211,111,5313,70,2.0,2,7,4,1,3.0,...,167,77.17,Red Line,2378.981155,15798.238046,7256.411321,3508.897334,29.830339,32.745589,56.233720
85,202,130,3643,70,1.0,0,5,3,1,3.0,...,79,25.86,Red Line,11968.230035,11828.693908,5331.604154,10291.059868,30.670624,60.659963,90.640905
88,203,280,5000,70,1.0,0,4,2,1,1.0,...,75,38.96,Red Line,30628.719167,21334.582001,19260.991468,3874.155277,39.975687,39.993200,79.968141
101,205,83,5625,70,2.0,0,8,4,1,3.0,...,276,103.37,Green Line,12439.735556,3295.575031,2343.226246,3295.575031,39.042397,47.495242,84.988992
104,202,180,5103,70,1.0,0,4,2,1,3.0,...,75,32.29,Red Line,15191.034305,12175.922724,7527.763165,5530.625227,39.767487,41.087447,79.564795
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212208,206,13,4838,77,2.0,0,10,4,1,1.0,...,122,57.04,Green Line,1452.483216,40846.716287,7591.253328,5636.182589,38.096185,39.851326,77.954605
212248,295,60,1097,77,3.0,0,8,4,2,3.0,...,38,9.50,Blue Line,1525.650561,15018.439737,4342.990346,4490.839131,21.050508,21.393334,42.086375
212255,211,170,790,77,2.0,2,8,4,1,3.0,...,6,1.95,Blue Line,2850.044222,13336.498461,3185.772594,1743.996730,28.757182,34.504319,51.766521
212271,211,141,2400,77,1.0,2,8,4,1,2.0,...,29,13.46,Pink Line,2309.108308,19530.014594,3567.946967,2388.975064,24.001717,24.004066,47.991597
212400,211,101,3175,77,2.0,2,7,4,1,1.0,...,69,32.75,Green Line,3110.694686,22713.838616,1663.550266,3842.508220,25.004712,37.491853,50.010324

In [36]:
df_analysis['Estimated Total'] = df_analysis['Estimate (Land)'] + df_analysis['Estimate (Building)']
df_analysis['Estimated Total']

26        231250
85        114210
88        129220
101       208080
104        85090
           ...
212208    188180
212248    735350
212255    747250
212271    240090
212400    211370
Name: Estimated Total, Length: 5729, dtype: int64

In [37]:
df_analysis['Price Difference'] = df_analysis['Estimated Total'] - df_analysis['Sale Price']
df_analysis['Price Difference']

26        128950
85        -57790
88          9220
101      -120920
104       -22110
           ...
212208   -110820
212248     -9650
212255    486573
212271   -174910
212400      8370
Name: Price Difference, Length: 5729, dtype: int64

In [38]:
# df_analysis = df_analysis.drop(df_analysis[df_analysis['Price Difference'] >= 100000].index)
# df_analysis = df_analysis.drop(df_analysis[df_analysis['Price Difference'] <= -100000].index)
# df_analysis

In [39]:
# df_analysis['Sale Outcome'] = (df_analysis['Price Difference'] >= 0) 
# df_analysis['Sale Outcome']

In [40]:
df_analysis = df_analysis.drop(columns=['latitude', 'longitude', 'Price Difference'])

In [41]:
# df_analysis.to_csv('Kyle_machine_learning_dataset.csv', encoding='utf-8')

In [42]:
string_vars =['Property Class', 'Neighborhood Code', 'Town Code', 'Type of Residence', 'Basement Finish', 
'Central Heating', 'Other Heating', 'Attic Type', 'Garage 1 Size', 'Garage 1 Attachment', 'Garage 1 Area', 
'Porch', 'Use', 'property_zip', 'ward_num', 'school_elementary_district_name', 'school_secondary_district_name', 'nearest_cta_route_name']

In [43]:
cat_dummies = pd.get_dummies(df_analysis, columns=['Property Class', 'Neighborhood Code', 'Town Code', 'Type of Residence', 'Basement Finish', 
'Central Heating', 'Other Heating', 'Attic Type', 'Garage 1 Size', 'Garage 1 Attachment', 'Garage 1 Area', 
'Porch', 'Use', 'property_zip', 'ward_num', 'school_elementary_district_name', 'school_secondary_district_name', 'nearest_cta_route_name'], drop_first=True)
cat_dummies.head()

,Land Square Feet,Apartments,Rooms,Bedrooms,Basement,Central Air,Fireplaces,Half Baths,Building Square Feet,Estimate (Land),...,school_secondary_district_name_CPS SECONDARY - VOISE HS,school_secondary_district_name_CPS SECONDARY - WASHINGTON HS,school_secondary_district_name_CPS SECONDARY - WELLS HS,nearest_cta_route_name_Brown Line,nearest_cta_route_name_Green Line,nearest_cta_route_name_Orange Line,nearest_cta_route_name_Pink Line,nearest_cta_route_name_Purple Line,nearest_cta_route_name_Red Line,nearest_cta_route_name_Yellow Line
26,5313,2,7,4,1,False,1,0,2616,37190,...,False,False,False,False,False,False,False,False,True,False
85,3643,0,5,3,1,False,0,0,982,29140,...,False,False,False,False,False,False,False,False,True,False
88,5000,0,4,2,1,True,0,0,1044,30000,...,False,True,False,False,False,False,False,False,True,False
101,5625,0,8,4,1,False,0,1,1998,70310,...,False,False,False,False,True,False,False,False,False,False
104,5103,0,4,2,1,False,0,0,797,25510,...,False,False,False,False,False,False,False,False,True,False

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [44]:
# Separate the data into labels and features

# Separate the y variable, the labels
# YOUR CODE HERE!]
y = cat_dummies["Sale Price"]

# Separate the X variable, the features
X = cat_dummies.drop(columns=["Sale Price"])

In [45]:
# Review the y variable Series
y.head()

26     102300
85     172000
88     120000
101    329000
104    107200
Name: Sale Price, dtype: int64

In [46]:
# Review the X variable DataFrame
X.head()

,Land Square Feet,Apartments,Rooms,Bedrooms,Basement,Central Air,Fireplaces,Half Baths,Building Square Feet,Estimate (Land),...,school_secondary_district_name_CPS SECONDARY - VOISE HS,school_secondary_district_name_CPS SECONDARY - WASHINGTON HS,school_secondary_district_name_CPS SECONDARY - WELLS HS,nearest_cta_route_name_Brown Line,nearest_cta_route_name_Green Line,nearest_cta_route_name_Orange Line,nearest_cta_route_name_Pink Line,nearest_cta_route_name_Purple Line,nearest_cta_route_name_Red Line,nearest_cta_route_name_Yellow Line
26,5313,2,7,4,1,False,1,0,2616,37190,...,False,False,False,False,False,False,False,False,True,False
85,3643,0,5,3,1,False,0,0,982,29140,...,False,False,False,False,False,False,False,False,True,False
88,5000,0,4,2,1,True,0,0,1044,30000,...,False,True,False,False,False,False,False,False,True,False
101,5625,0,8,4,1,False,0,1,1998,70310,...,False,False,False,False,True,False,False,False,False,False
104,5103,0,4,2,1,False,0,0,797,25510,...,False,False,False,False,False,False,False,False,True,False

### Step 3: Split the data into training and testing datasets by using `train_test_split`.

In [47]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1)
X_train.shape

(4296, 712)

In [48]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler

In [49]:
# Creating StandardScaler instance
scaler = StandardScaler()

In [50]:
# Fitting Standard Scaller
X_scaler = scaler.fit(X_train)

In [51]:
# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [52]:
# Create a random forest classifier
rf_model = RandomForestRegressor(n_estimators=500, random_state=78)

In [53]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [54]:
predictions = rf_model.predict(X_test_scaled)

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [55]:
# Make a prediction using the testing data
results = pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)
results.head(10)

    Prediction   Actual
0   698397.525   745000
1   646110.130   553256
2  2579956.220   740155
3   318959.000   270000
4   580997.240   570000
5   164888.465   175000
6   380126.765   372500
7   323239.385   250000
8   384584.000   359000
9   973946.760  1645000

In [56]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, predictions))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, predictions))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))

Mean Absolute Error: 93028.26663991626
Mean Squared Error: 33818817219.378784
Root Mean Squared Error: 183898.93207786386

### Step 3: Evaluate the model’s performance by doing the following:

* Generate a confusion matrix.

* Print the classification report.

In [57]:
# # Generate a confusion matrix for the model

# # Create and save the confusion matrix for the training data
# testing_matrix = confusion_matrix(y_test, predictions)

# # Print the confusion matrix for the training data
# print(testing_matrix)

In [58]:
# # Print the classification report for the model
# testing_report = classification_report(y_test, predictions)

# # Print the testing classification report
# print(testing_report)

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** The model is excellent at predicting a healthy loan label, with a precision, recall, and f1-score of 1.00, the highest possible. However, the model is less good at predicting if a loan is unhealthy, with precision, recall, and f1-score all in the high .80s. These scores are okay, but ideally should be in the mid 90s for a good model, especially for something as important as loan default risk.

---